* {
  padding: 0;
  margin: 0;
}
.container {
  font-family: "josefin sans", sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("images/cat1.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
.card-wrapper {
  height: 25rem;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("images/cat1.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 15px;
  transition: 1s;
}
.card-wrapper img {
  height: 10em;
  width: 20em;
}

.card-wrapper:hover {
  box-shadow: 0 0 20px black;
}

.card {
  display: none;
}
